ul {
	list-style: none;
}

ul > li {
	position: relative;
	padding: 0 10px;
	width: 55px;
}

ul > li::before {
	content: '';
	position: absolute;
	background: purple;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	top: calc(58% - 5px);
	left: 0;
}

ul > li::after {
	content: '';
	position: absolute;
	background: purple;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	top: calc(58% - 5px);
	right: 15px;
}
